.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes cursor-blink {
  50% { border-color: transparent; }
}

.typing-cursor {
  border-right: 3px solid rgb(168, 85, 247);
  animation: cursor-blink 0.75s step-end infinite;
}
